{% extends 'base.html.twig' %}

{% block body %}

Bienvenue sur la page de l'article numero {{article.id}}
<hr>

<tbody>

<tr><br>
    <td>{{ article.title }}</td><br>
    <td>{{ article.content }}</td><br>
    <td>{{ article.tags }}</td><br>
    <td>{{ article.createdAt|date('d/m/Y')}}</td><br>
</tr>

</tbody>
{% endblock  %}
